*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(0,212,255,1) 100%); 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.quiz-container{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(244,242,243,1) 15%, rgba(210,216,223,1) 100%); 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
width: 600px;
max-width: 100%;
}
.quiz-header{
    padding: 4rem;

}

ul{
    list-style: none;
    padding: 0;

}

button{
   
  background-color: #0095ff;
  border: none;
  color: white;
  width: 100%;
  display: block;
  font-size: 1.3rem;
  padding: 1.3rem;
}

button:hover{
    background-color: #00008b ;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

h2{
    text-align: center;
    padding: 1rem;
    margin: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

footer{
    margin-top: 5rem;
    font-size: 2rem;
    color: white;
}

@media(max-width:600px){
    body{
        padding: 2rem;
        flex-wrap: wrap;
    }
    
}

@media(max-width:393px){
    footer{
        font-size: 1.5rem;
    }
}

@media(max-width:378px){

    h2{
        font-size:1rem;
        text-align: left;
    }
}